{% extends "layout.html" %} {% block content %}

<header>
    <div class="abc">

        <img src="{{url_for('static',filename='images/cover.jpg')}}" style="color: #ffffff;width: 100%;
        height: 30rem;
        text-align: center;
        background-size: cover;" 50% alt="">
    </div>

</header>

<div class="container-fluid padding">
    <div class="row Welcome text-center">
        <div class="col-12">
            <h1 class="display-4 "> About WillxRo</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">At WillxRo web is our medium,we create beautiful web site.</p>
            <p class="lead">We have a team of professional web developers, expert Designers and well experienced Team Managers who work in complete coordination and cooperation to accomplish every project well on time without compromising on quality front. Our work speaks
                for our quality. We are committed to produce outstanding result for every project to satiate our worldwide clients on all fronts. Our web designing and development professionals have excellent skills and good industry exposure that help
                them to give every website a unique online identity. Our Search Engine Optimization services are result oriented and matchless. We have a proven track record in SEO field and we are the best SEO service provider in Tirupur Tamilnadu India.
                Our quality SEO services have helped a number of clients from different corners of the world in getting their website seen on top ranks of many search engines like Google, Yahoo, Bing and etc. We have a team of knowledgeable and committed
                SEO professionals having more than seven years experience in SEO field. They use foolproof and flawless techniques to elevate rankings of our clients website in all search engines.
            </p>
        </div>

    </div>

</div>




<!--- socialmedia -->
<div class="container-fluid padding">
    <div class="row text text-center">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class=" col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
</div>

{% endblock %}